.AddContent{
  transition: color 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* editor buttons container */
#image-editor-container > section > div > ul {
    padding: 0;
    margin: 0;
    text-align: right;
}
/* rotate right button */
#image-editor-container > section > div > ul > li:nth-child(1) {
  display:inline;
}
#image-editor-container > section > div > ul > li:nth-child(1) > button {
  margin: 0;
  font-size: 0.9rem;
  padding: 1rem;
  color: inherit;
  transition: background-color .15s ease-in-out;
  align-items: center;
  display: inline-flex;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  overflow: visible;
  font-family:inherit;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  background: none;
}


#image-editor-container > section > div > br {

}

/* rotate left button */
#image-editor-container > section > div > ul > li:nth-child(2) {
  display:none;
}

/* save button */
#image-editor-container > section > div > ul > li:nth-child(3) {
  display:inline;
  margin-left: 1em;
}
#image-editor-container > section > div > ul > li:nth-child(3) > button {
  margin: 0;
  font-size: 0.9rem;
  padding: 1rem;
  color: inherit;
  transition: background-color .15s ease-in-out;
  align-items: center;
  display: inline-flex;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  overflow: visible;
  font-family:inherit;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  background: none;
}

div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters.MuiPickersToolbar-toolbar.MuiPickerDTHeader-toolbar{
  background-color: black;
}

.MuiPickersDay-isSelected {
  background-color: black;
}

div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div > div > div.MuiPickersClock-pin {
  background-color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div.MuiPickersSlideTransition-transitionContainer.MuiPickersCalendar-transitionContainer .MuiPickersDay-isSelected {
  background-color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div > div > div.MuiPickersClockPointer-pointer.MuiPickersClockPointer-animateTransform {
  background-color: black;
}

div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div > div > span.MuiTypography-root.MuiTypography-body1.MuiPickersClockNumber-clockNumber.Mui-selected {
  background-color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div > div > div.MuiPickersClockPointer-pointer{
  background-color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div > div > div.MuiPickersClockPointer-pointer > div {
  background-color: black;
  border-color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogActions-root.MuiDialogActions-spacing > button:nth-child(1) > span.MuiButton-label {
  color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogActions-root.MuiDialogActions-spacing > button:nth-child(2){
  color: black;
}
div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiPickersModal-dialog > div:nth-child(2) > div > div.MuiPickersSlideTransition-transitionContainer.MuiPickersCalendar-transitionContainer > div > div:nth-child(4) > div:nth-child(3) > button > span.MuiIconButton-label > p {
  color: grey;
}
@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
